.doctors-container {
  border: none;
  padding: 2% 2%;
  margin: 20px 10%;
  border-radius: 10px;
  box-shadow: 0 1px 1px -1px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  background-color: #ffffff;
}

.doctors-container .heading {
  font-size: 40px;
  color: #69d5b1;
}

.doctors-container .subheading {
  color: gray;
}

@media screen and (max-width: 768px) {
  .doctors-container {
    padding: 2% 2%;
    margin: 20px 4%;
  }
}