input[type=text] {
  color: #123C69;
  border: 1px solid #123C69;
  width: 100%;
  padding: 1% 4%;
  border-radius: 10px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

::placeholder {
  color: #123C69;
}

input[type=text]:focus {
  outline: none;
}